.form {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 20px;

  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;

  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);

  &__input {
    flex-grow: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    &::placeholder {
      color: var(--ui-white);
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      opacity: 0.8;
    }
  }

  &__btn {
    flex-shrink: 0;
    padding: 11px;
    background-color: var(--ui-orange);
    border-radius: 24px;
  }
}
